<%= form_for([@product, @product.comments.build], :html => {:class => 'form'}, validate: true) do |f| %>

<h2>Tell us about
    <%= @product.name %>!</h2>
<br>
<p class="form-group">
    <%= f.text_field :title, placeholder: "Enter a title." %>
</p>
<p class="form-group">
    <%= f.text_area :body, placeholder: "How was it?" %>
</p>
<p class="form-group">

    <%= f.submit %>
</p>

<% end %>
