<a href="/products" class="back-btn"></a>

<div id="product"></div>
<section class="each_product">
    <header class="each_product__hero" style="background-image: url('<%= @product.photo %>'); "></header>
    <div class="each_product__hero-inner">
        <p class="product_name"><%= @product.name %></p>
    </div>

    <div class="each_product__hero-overlay"></div>
</section>

<section class="each_product">

    <div class="p_body">
        <h1><%= @product.name %></h1>
        <h3>Size :
            <%= @product.size %></h3>
        <h3>Price : $
            <%= @product.price %></h3>
        <br>
        <button class: 'btn btn-sm btn-primary'>Add to bag</button>
        <br><br><br>
        <h4>See details for
            <%= @product.name %>.</h4>

        <br>
        <center><img src='<%= @product.photo %>' height="600px" width="500px"></center>
        <br>
        <h4>
            @ Please Log in or Sign up to leave comment @
        </h4>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <%= flash[:alert] %>
                <br>
                <div class="comment-container">
                    <%= render @product.comments %>
                </div>

            </div>

            <div class="col-md-8 p_comment">
                <% if session[:user_id] %>
                <%= render 'comments/form' %>
                <% end %>
            </div>
        </div>
    </div>

</section>
