<a href="/" class="back-btn">
</a>

<div id="product"></div>
<section class="each_product">
  <header class="each_product__hero" style="background-image: url('<%= @product.photo %>'); ">
  </header>
  <div class="each_product__hero-inner">
    <h1><%= @product.name %></h1>
  </div>

  <div class="each_product__hero-overlay"></div>
</section>

<section class="each_product">

    <div class="p_body">
      <h1><%= @product.name %></h1>
      <h3>Price : $ <%= @product.price %></h3>
      <h3>Size : <%= @product.size %></h3>
      <p class="text-muted mb-4">See what other people had to say about <%= @product.name %>.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="comment-container">
            <%= render @product.comments %>
          </div>
        </div>


      <div class="col-md-8 p_comment">
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>

</section>
