<!DOCTYPE html>
<html>
    <head>
        <title>JMY CLOTHING</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

    <body>

        <nav class="navbar navbar-default nav_">
            <div class="container">

                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a href="/">| Home |
                        </a>
                        <a href="/products">| Sweatshirts
                        </a>
                        <a href="/products">| Pants
                        </a>
                        <a href="/products">| Swim
                        </a>
                        <a href="/products">| Dress & Skirts
                        </a>
                        <a href="/products">| Shoes |</a>

                    </div>

                    <div class="right">
                      <% if session[:user_id] %>
                      User :
                      <%= current_user.name %>
                      |
                     <%= link_to cart_path do%>
                     My Bag |
                     <%end%>

                     <%= link_to 'Log out |', session_path(current_user), method: 'delete' %>

                        <% else %>
                        <%= link_to 'Log in |', new_session_path %>
                        <%= link_to 'Sign up |', new_user_path %>
                        <% end %>
                    </div>

                </div>
            </div>
        </nav>

        <%= yield %>
    </body>
</html>
